<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
    <script defer src="/js/chat.js"></script>
<head>
    <title>Connecting...</title>
</head>

<body>
<div><p id="connectionstatus">Waiting to connect...</p></div>

<div id="messages">
</div>

<div>
<form id="chatbox">
    <input placeholder="Type here..." name="msgbox" id="msgbox" disabled>
    <input type="submit" value="Submit">
</form>
<button id="newchat" type="button">Find New Chat</button>

</div>

</body>

</html>